@charset "utf-8";
/* CSS Document */

body {
	background: #424242;
}

.wrap {
	margin: 0 auto;
	width: 960px;
}

.recipe {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	margin-top: 40px;
}

.recipe img {
	display: block;
	width: 595px;
	float: left;
	border-top-left-radius: 5px;
}

.recipe-meta {
	float: left;
	width: 365px;
	height: 446px;
	background: #ecf0f1;
	border-top-right-radius: 5px;
}

.recipe-meta h1 {
	background: #d35400;
	padding: 20px;
	margin: 0;
	color: #fff;
	border-top-left-radius: 5px;
}

.recipe-meta h2, .recipe-meta p {
	margin: 20px 0 0 0;
	padding: 0 10px;
} 

.ingredients {
	clear: both;
	padding: 20px;
	background: #f1c40f;
	border-top: 5px solid #e1b70f;
}

.directions {
	padding: 20px;
	border-top: 5px solid #f3f3f3;
}

ul, ol {
	padding: 0;
	margin: 0 0 0 30px;
}

li {
	margin: 0 0 10px 0;
	padding: 0;
}

.note {
	background: #ecf0f1;
	padding: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}